.shop-items-container {
    display: grid;
    background-color: rgb(175, 177, 180);
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    grid-template-columns: repeat(auto-fit, 300px);
    width: 80vw;
}

#select-container {
    font-size: large;
    margin: 5px;
    padding: 5px;

    select {
        font-size: inherit;
        margin: inherit;
        padding: inherit;
    }
}